<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Management System</title>
    <link href="/css/modificarProducto.css" rel="stylesheet" />
    <script type="text/javascript" src="/jquery-3.6.4.min.js"></script>
</head>
<body>
<div class="wrapper">
    <!--Menu-->
    <nav class="menu">
        <ol>
            <li class="menu-item"><a href="/productos">Inicio</a></li>
            <li class="menu-item">
                <a href="#0">Producto</a>
                <ol class="sub-menu">
                    <li class="menu-item"><a href="/productos">Ver productos</a></li>
                    <li class="menu-item"><a href="/productos/nuevo">Añadir producto</a></li>
                    <li class="menu-item"><a href="/productos/edit">Editar producto</a></li>
                    <li class="menu-item"><a href="/productos/delete">Borrar producto</a></li>
                </ol>
            </li>
            <li class="menu-item"><a href="/carrito">🛒</a></li>
        </ol>
    </nav>

            <div class="contenedor">
                <h1> Modificar producto </h1>
                <div class="atributos">
                    <!--<form th:action="@{/productos/edit/{id} (id=${producto.id})}" th:object="${producto}" method="POST">-->
                    <form th:action="@{/productos/edit/{id}(id=${producto.id})}" th:object="${producto}" method="POST">
                        <input type="hidden" name="id" th:value="${producto.id}" />
                        <div class="atributo">
                            <label>Nombre</label>
                            <input type="text" name="nombre" th:field="*{nombre}"
                                   placeholder="Introduce el nombre"
                                   th:value="${producto.nombre}"/>
                        </div>
                        <div class="atributo">
                            <label>Precio</label>
                            <input type="text" name="precio" th:field="*{precio}"
                                   placeholder="Introduce el precio" />
                        </div>

                        <div class="boton">
                            <button type="submit">Editar</button>
                        </div>

                    </form>
                </div>
            </div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
<script src="/common.js"></script>
</body>
</html>