<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Isa</title>
    <link href="/css/registroProducto.css" rel="stylesheet" />
    <script type="text/javascript" src="/jquery-3.6.4.min.js"></script>
</head>
<body>
<div class="wrapper">
    <!--Menu-->
    <nav class="menu">
        <ol>
            <li class="menu-item"><a href="/productos">Inicio</a></li>
            <li class="menu-item">
                <a href="#0">Producto</a>
                <ol class="sub-menu">
                    <li class="menu-item"><a href="/productos">Ver productos</a></li>
                    <li class="menu-item"><a href="/productos/nuevo">Añadir producto</a></li>
                    <li class="menu-item"><a href="/productos/edit">Editar producto</a></li>
                    <li class="menu-item"><a href="/productos/delete">Borrar producto</a></li>
                </ol>
            </li>
            <li class="menu-item"><a href="/carrito">🛒</a></li>
        </ol>
    </nav>

            <div class="contenedor">
                <h1 > Crear nuevo producto </h1>
                <div class="productos">
                    <form th:action="@{/productos/nuevo}" th:object="${producto}" method="POST"> <!--cuando pulse submit se va a esta dirección ; aqui esta el objeto que es profesor para llamarlo con el asterisco-->
                        <div class="producto">
                            <label>Nombre</label>
                            <input type="text" name="nombre" th:field="*{nombre}"
                            class="form-control"
                            placeholder="Introduce el nombre"/><!--primer input; es asterisco porque es el nombre del OBJETO el input lo guarda en firstName-->
                        </div>
                        <div class="producto">
                            <label>Precio</label>
                            <input type="text" name="precio" th:field="*{precio}"
                            placeholder="Introduce el precio"/><!--lo mismo con el email-->
                        </div>
                        <div class="boton">
                            <button type="submit" >Añadir</button> <!--boton de submit; lo que hace es que todos esos campos de antes los mete en el objeto y los envía-->
                        </div>

                    </form>
                </div>
            </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
<script src="/common.js"></script>
</body>
</html>