/// Variables de estilo
///
/// Variables utilizadas para definir colores, tamaños y otros estilos.
///
/// Ejemplo de uso:
/// ```scss
/// $color-borde: #000000;
/// $color-fondo: #95e5c8;
/// ...
/// ```
$color-borde: #000000;
$color-fondo: #95e5c8;
$color-fondo-par: #5e7062;
$color-cabecera: #40d3aa;
$color-texto-cabecera: #000000;
$color-fondo-hover: #ffffff;
$color-titulo: #000000;
$texto-menu: #000000;
$fondo-menu: #ffffff;

$imagen-tamano-maximo: 800px;